.search {
    .site-content {
        display: flex;
    }
    #primary {
        width: 70%;
    }
    #secondary {
        width: 30%;
    }
    .search-form {
        padding: 30px;
    }
    .page-content p {
        display: none;
    }
    fieldset {
        padding-top: 40px;
        border: none;
        button {
            display: none;
        }
        input {
            background-color: #e1e1e1;
        }
    }
}