// .about_text{
// 	display: flex;
// 	flex-wrap:wrap;
// 	max-width: 1120px;
// 	margin: 40px auto;
// 	width: 55%;
// 	// font-family: Merriweather Web,serif;
// 	div{
// 		h2{
// 			text-align: center;
// 			font-size: 50px;	
// 			// font-family: Novecento Sans Web,sans-serif;
// 			text-transform: uppercase;
// 		}
// 	}
// }
.about_hero_banner{
	height: 100vh;
	display: flex;
	background: url('../../images/logos/inhabitent-logo-full.svg') center center no-repeat,
	linear-gradient( to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100% ),
	url('../../images/home-hero.jpg') no-repeat center center;
	background-size: auto, auto, cover;
	background-size: cover;
}
// .about-hero-text{
// 	// font-family: $font__secoundary;
// 	font-size: 50px;
// 	font-weight: bold;
// 	text-transform: uppercase;
// 	align-self:center;
// 	color: white;
// 	text-align: center;	
// 	margin: auto auto;
// }
// .search .page-content .search-show i{
// 	display: none;

// }
// .error404 .page-content .search-show i{
// 	display: none;

// }
// .error404 .page-content .search-field{
// 	display: block;
// 	padding: 7.5px;
// 	background: #f4f4f4;
// 	padding-left: none;
// 	margin-bottom: 35px;
// }
// .search .page-content .search-field{
// 	display: block;
// 	padding: 5px;
// }
