.post-type-archive-adventure {
    #primary {
        max-width: 1120px;
        margin: auto;
    }
    .page-header {
        padding-top: 80px;
        text-align: center;
        h1 {
            text-transform: uppercase;
            font-family: $font__accent;
            border-bottom: 1px dashed #c8c8c8;
        }
    }
    .product-posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .posts {
        width: 49%;
        margin-bottom: 20px;
    }
}