.page-template-advanture {
	padding-top: 0px;
}

.advanture_header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about-hero-text {
	color: white;
	font-size: 50px;
	text-transform: uppercase;
}

.about_text {
	text-align: center;
	width: 750px;
	margin: auto;
	// font-size: 17px;
	margin-bottom: 50px;
	// width: 600px;
	h2 {
		color: $color__purple;
		text-transform: uppercase;
		font-size: 35px;
	}
	p {
		// width: 900px;
		text-align: left;
	}
}