/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/


/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}


/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}


/* Comments */

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.blog {
	#primary {
		width: 70%;
	}
}

.comment-form-comment {
	textarea {
		background-color: $color__comment-bg;
	}
}

.form-submit {
	.submit {
		background-color: $color__green;
		text-shadow: none;
		box-shadow: none;
		border-radius: 0px;
		padding: 15px 30px;
		border: 0px;
		font-size: 15px;
		text-transform: uppercase;
		color: white;
		font-family: $font__accent;
	}
	&:hover {
		background-color: red;
	}
}