.page-id-19 {
    .side_bar_enabler {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
    }
    #content {
        margin: 0 auto;
        width: 1120px;
        padding-top: 50px;
    }
    #primary {
        width: 70%;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    #secondary {
        width: 30%;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    h1 {
        text-transform: uppercase;
        font-family: $font__accent;
        margin: 0px;
        font-size: 38px;
    }
    .entry-content {
        h2 {
            font-family: $font__accent;
            color: $color__purple;
            text-transform: uppercase;
            font-size: 30px;
        }
        span {
            font-size: 20px;
        }
        textarea {
            background-color: $color__comment-bg;
            border-color: $color__border;
            border-radius: 0;
        }
        .wpcf7-text {
            border-radius: 0px;
            background-color: $color__comment-bg;
            border-color: $color__border;
        }
        label {
            font-family: $font__accent;
            text-transform: uppercase;
            color: $color__purple;
        }
    }
    form {
        .wpcf7-submit {
            background-color: $color__green;
            border: none;
            font-weight: lighter;
            color: white;
            font-family: $font__accent;
            font-size: 15px;
            text-transform: uppercase;
            box-shadow: none;
            padding: 10px 30px;
        }

        .star {
            color: $color__orange;
        }
    }
}