/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/


/* Front page */

.home {
	.home-hero {
		background: url('../../images/logos/inhabitent-logo-full.svg') center center no-repeat, -webkit-linear-gradient( top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../images/home-hero.jpg') no-repeat center 0px;
		background: url('../../images/logos/inhabitent-logo-full.svg') center center no-repeat, linear-gradient( to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url('../../images/home-hero.jpg') no-repeat center 0px;
		background-size: auto, contain, cover;
		height: 700px;
	}
}

.home .site-content {
	padding-top: 0px;
	padding-bottom: 100px;
	h2 {
		font-family: $font__accent;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 2.4rem;
		color: $color__purple;
		margin-bottom: 3rem;
		margin-top: 3rem;
		min-width: 100%;
		text-align: center;
	}
	.shopstufftitle {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 1120px;
		margin: auto;
		.taxonomy_loop {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			.category-wrappper {
				padding: 15px 8px 20px 8px;
				border: 1px solid $color__border;
				border-top: 5px solid $color__border;
				margin: 0 10px 0 10px;
				width: 23.5%;
				text-align: center;
				a {
					text-transform: uppercase;
					font-size: 14px;
					font-family: $font__accent;
				}
				&:hover {
					border: 1px solid $color__orange;
					border-top: 5px solid $color__orange;
				}
				p {
					margin-bottom: 15px;
				}
				img {
					width: 70px;
				}
				a:hover {
					background-color: $color__bt-hover;
				}
				.category-link {
					color: white;
					text-decoration: none;
					background-color: $color__green;
					padding: 10px 20px 10px 20px;
				}
				.stuff {
					margin-top: 10px;
				}
			}
		}
	}
	.inhabitent-journal-posts {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		width: 1120px;
		margin: 0 auto;
		h2 {
			min-width: 100%;
			text-align: center;
		}
		.read-more {
			color: $font__color;
			text-transform: uppercase;
			border: 1px solid black;
			text-decoration: none;
			font-size: 12px;
			padding: 10px 20px 10px 20px;
		}
		.frontpageposts {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			justify-content: space-between;
			.journal-wrapper {
				border: 1px solid $color__border;
				flex: 0 1 32%;
				overflow: hidden;
				.thumbnail-wrapper {
					height: 245px;
					background-color: $color__border;
					img {
						height: 240px;
					}
				}
				.journal-text-wrapper {
					padding: 10px 10px 20px 10px;
					h3 {
						font-family: $font__accent;
					}
					a {
						font-family: $font__accent;
					}
					.journal-title {
						padding: 0;
						text-decoration: none;
					}
					.entry-title {
						font-size: 20px;
						margin-bottom: 10px;
						margin-top: 5px;
					}
					.entry-title:hover {
						color: $color__purple;
					}
					.read-more {
						font-size: 14px;
					}
					.read-more:hover {
						background-color: $color__green;
						color: white;
						border: none;
					}
					.entry-title {
						color: $color__green;
						font-size: 20px;
						line-height: 25px;
						text-transform: uppercase;
						letter-spacing: 2px;
						margin-bottom: 20px;
					}
					.entry-meta {
						font-size: 12px;
						.byline {
							visibility: hidden;
						}
					}
				}
			}
		}
	}
	.adventure {
		margin: auto;
		width: 1120px;
	}
	.adventure-container {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		width: 1120px;
		height: 550px;
		list-style-type: none;
		.read-more {
			top: 100px;
			left: 20px;
			position: absolute;
			color: white;
			text-decoration: none;
			border: 1px solid white;
			padding: 10px 20px 10px 20px;
			font-family: $font__accent;
			text-transform: uppercase;
			z-index: 2;
			&:hover {
				color: white;
				text-decoration: none;
				background-color: $color__green;
				border: 1px solid $color__green;
			}
		}
		li {
			float: left;
			position: relative;
			overflow: hidden;
			height: 541px;
		}
		li:first-child {
			width: 50%;
			border-right: 20px solid white;
			img {
				height: auto;
				max-width: 100%;
				left: 50%;
				max-height: 620px;
				max-width: none;
				position: absolute;
				top: 72%;
				transform: translate(-50%, -75%);
				width: auto;
			}
		}
		li:nth-child(2) {
			width: 50%;
			height: 300px;
			border-bottom: 20px solid white;
			img {
				height: auto;
				max-width: 100%;
				left: 50%;
				max-height: 533px;
				max-width: none;
				position: absolute;
				top: 86%;
				transform: translate(-50%, -75%);
				width: auto;
			}
		}
		li:nth-child(3) {
			width: 25%;
			border-right: 10px solid white;
			height: 242px;
			img {
				height: auto;
				max-width: 100%;
				left: 50%;
				max-height: 300px;
				max-width: none;
				position: absolute;
				top: 76%;
				transform: translate(-50%, -75%);
				width: auto;
			}
		}
		li:nth-child(4) {
			width: 25%;
			border-left: 10px solid white;
			height: 242px;
			img {
				height: auto;
				max-width: 100%;
				left: 50%;
				max-height: 300px;
				max-width: none;
				position: absolute;
				top: 76%;
				transform: translate(-50%, -75%);
				width: auto;
			}
		}
		.adventure-wrapper {
			bottom: 0;
			img {
				height: auto;
				max-width: 100%;
			}
			&:after {
				background: rgba(0, 0, 0, .35);
				content: "";
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
				z-index: 1;
			}
		}
	}
	.adventure-info {
		position: relative;
		h3 {
			z-index: 2;
			position: absolute;
			a {
				text-decoration: none;
				color: white;
				padding: 10px 30px;
				font-size: 20px;
				&:hover {
					color: $color__yellow;
				}
			}
		}
	}
	.see-more {
		a {
			color: white;
			text-decoration: none;
			background-color: $color__green;
			padding: 12px 25px 12px 25px;
			font-family: $font__accent;
			font-size: 22px;
			&:hover {
				background-color: $color__bt-hover;
			}
		}
	}
}