/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
.home-hero{
	background: url('../../images/logos/inhabitent-logo-full.svg') center center no-repeat,
	linear-gradient( to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100% ),
	url('../../images/home-hero.jpg') no-repeat center 0px;
	background-size: auto, contain, cover;
	height: 700px;
}

.home .site-content{
    padding-top: 0px;
}