.single-post {
    .side_bar_enabler {
        display: flex;
        width: 100%;
    }
    .site-content {
        width: $width;
        margin: auto;
        padding-top: 50px;
    }
    #primary {
        padding-top: 50px;
    }
    #secondary {
        padding-top: 50px;
    }
    h1 {
        font-family: $font__accent;
        color: white;
    }
    .journal {
        padding-right: 50px;
        width: 70%;
        #secondary {
            width: 30%;
        }
    }
    .entry-footer {
        font-family: $font__accent;
        text-transform: uppercase;
        a {
            text-decoration: none;
        }
        span {
            margin-right: 20px;
        }
    }
    .social-media-wrapper {
        margin-top: 30px;
        margin-bottom: 80px;
    }
    .social-media {
        font-family: $font__accent;
        color: black;
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid black;
        padding: 10px 25px 10px 25px;
    }
    .social-media:hover {
        background-color: $color__green;
        color: white;
        border: 1px solid #248A83;
    }
}