.post-template-default {
     #secondary{
        padding-top: 50px;
    }
    h1 {
        color: white;
    }
    .site-content {
        padding-top: 70px;
    }
    .journal {
        padding: 50px;
        width: 70%;
        #secondary {
            width: 30%;
        }
    }
    .comment-form-comment {
        text-transform: uppercase;
    }

}