.post-template-default {
    .site-content {
        width: $width;
        margin: auto;
        padding-top: 50px;
    }
    #primary {
        padding-top: 50px;
    }
    #secondary {
        padding-top: 50px;
    }
    h1 {
        font-family: $font__accent;
        color: white;
    }
    .journal {
        padding-right: 50px;
        width: 70%;
        #secondary {
            width: 30%;
        }
    }
    .entry-footer {
        font-family: $font__accent;
        text-transform: uppercase;
        a {
            text-decoration: none;
        }
        span {
            margin-right: 20px;
        }
    }
    .comments-area {
        h2 {
            text-transform: uppercase;
            color: $color__purple;
            font-family: $font__accent;
        }
    }
    .entry-meta {
        font-family: $font__accent;
        position: absolute;
        bottom: 6px;
        right: 0px;
        width: 300px;
        height: 30px;
        color: white;
        background-color: #248A83;
        padding: 5px;
    }
    .comment-form-comment {
        text-transform: uppercase;
        label {
            font-family: $font__accent;
            color: $color__purple;
        }
    }
    .comment-author-avatar {
        padding-right: 30px;
        img {
            border-radius: 100px;
        }
    }
    .comment-list {
        article {
            border-bottom: 1px solid $color__border;
            padding: 20px 0;
            display: flex;
        }
    }
    .comment-meta {
        .fn {
            font-style: normal;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .comment-metadata {
        color: grey;
        a {
            visibility: hidden;
        }
    }
}