.search-no-results {
    #content {
        margin: 0 auto;
        width: 1120px;
        padding-top: 50px;
    }
    #primary {
        width: 70%;
        padding-top: 50px;
        padding-right: 50px;
    }
fieldset{
    position: relative;
    a{
        position: absolute;
        visibility: hidden;
    }
    .search-field{
        background-color: $color__comment-bg;
        border-color: $color__border;
        border-radius: 0px;
    }
}
    .page-header {
        border-bottom: 1px solid $color__border;
    }
    .page-content {
        p {
            display: none;
        }
    }
    h1 {
        display: none;
    }
    article:last-child {
        border-bottom: 1px solid grey;
    }
    .entry-header {
        text-transform: uppercase;
        a {
            text-decoration: none;
            font-size: 35px;
        }
    }
    .read-more {
        color: $font__color;
        text-transform: uppercase;
        border: 1px solid black;
        text-decoration: none;
        font-size: 12px;
        padding: 10px 20px 10px 20px;
    }
    .p1 {
        line-height: 25px;
    }
    article {
        margin-bottom: 80px;
    }
   
}