.search {
    .site-content {
        width: 1120px;
        display: flex;
        margin: 0 auto;
        padding-top: 50px;
    }
    #primary {
        width: 70%;
        padding: 50px 50px 0 50px;
        h1 {
            text-transform: uppercase;
            font-family: $font__accent;
            border-bottom: 1px solid $color__border;
            padding: 20px 0;
        }
    }
    #secondary {
        padding: 50px 0 50px 50px;
        width: 30%;
        border-left: 1px solid $color__border;
    }
    .post-94 {
        h2 {
            font-size: 40px;
            text-transform: uppercase;
            font-family: $font__accent;
            font-size: 35px;
            a {
                text-decoration: none;
            }
        }
    }
    .page-content p {
        padding: 50px 20px 20px 20px;
    }
    .widget {
        ul {
            margin: 0;
            padding-left: 0;
        }
        li {
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
        p {
            margin: 20px 0;
        }
        span {
            font-weight: bold;
        }
    }
    .widget-area {
        h2 {
            color: $color__purple;
            font-family: $font__accent;
        }
    }
    .textwidget {
        p {
            color: $color__green;
            i {
                color: $font__color;
            }
        }
        .address {
            color: $font__color;
        }
    }
}