.search-no-results {
    #content {
        margin: 0 auto;
        width: 1120px;
        padding-top: 50px;
    }
    #primary {
        width: 70%;
        padding-top: 50px;
        padding-right: 50px;
    }
    #secondary {
        padding-top: 50px;
        padding-left: 50px;
        width: 30%;
        border-left: 1px solid $color__border;
    }
    // p{
    //     visibility: hidden
    // }
    .page-header {
        border-bottom: 1px solid $color__border;
    }
    .page-content {
        p {
            display: none;
        }
    }
    h1 {
        text-transform: uppercase;
        font-size: 40px;
    }
    article:last-child {
        border-bottom: 1px solid grey;
    }
    .entry-header {
        text-transform: uppercase;
        a {
            text-decoration: none;
            font-size: 35px;
        }
    }
    .read-more {
        color: $font__color;
        text-transform: uppercase;
        border: 1px solid black;
        text-decoration: none;
        font-size: 12px;
        padding: 10px 20px 10px 20px;
    }
    .p1 {
        line-height: 25px;
    }
    article {
        margin-bottom: 80px;
    }
    .search-pagination {
        border-top: 1px solid $color__border;
        padding-top: 50px;
        .page-numbers {
            padding: 5px 10px;
            background-color: $color__green;
            color: white;
            text-decoration: none;
            &:hover {
                background-color: $color__purple;
            }
            span {
                background-color: grey;
            }
        }
    }
    .widget {
        ul {
            margin: 0;
            padding-left: 0;
        }
        li {
            list-style-type: none;
            a {
                text-decoration: none;
            }
        }
        p {
            margin: 20px 0;
        }
        span {
            font-weight: bold;
        }
    }
    .textwidget {
        p {
            color: $color__green;
            i {
                color: $font__color;
            }
        }
        .address {
            color: $font__color;
        }
    }
}