.post-type-archive-products {
    #content{
        margin-bottom: 50px;
    }
    #primary {
        width: 1120px;
        padding-top: 100px;
        margin: auto;
    }
    .page-header {
        text-align: center;
        border-bottom: 1px dashed #c8c8c8;
        margin-bottom: 50px;
        h1 {
            font-family: $font__accent;
            margin: 0 auto;
            text-transform: uppercase;
            font-size: 36px;
            padding-bottom: 15px;
        }
        .product-type-list {
            display: flex;
            justify-content: center;
            align-content: center;
            list-style-type: none;
            padding: 0 0 50px 0;
            margin: auto;
            li {
                padding: 0 20px 0 20px;
                h2 {
                    font-family: $font__accent;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 18px;
                }
            }
            a {
                text-decoration: none;
            }
            a:hover {
                color: $color__purple;
            }
        }
    }
    .product-posts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .posts {
            border: 1px solid #e1e1e1;
            margin-bottom: 10px;
            flex: 0 1 23%;
            max-width: 23%;
            height: 300px;
            overflow: hidden;
            .thumbnail-wrapper {
                height: 250px;
                background-color: #e1e1e1;
                img {
                    max-height: 250px;
                    max-width: none;
                    width: auto;
                    transform: translate(-15%, 0%);
                }
            }
            .title {
                text-align: center;
                padding-top: 10px;
            }
        }
    }
}