.tax-product_type {
     #content{
        margin-bottom: 50px;
    }
    #primary {
        width: 1120px;
        padding-top: 80px;
        margin: auto;
    }
    .page-header {
        text-align: center;
        border-bottom: 1px dashed #c8c8c8;
        margin-bottom: 50px;
    }
    .product-posts {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .page-header {
        h1{
            font-family: $font__accent;
        }
        text-align: center;
    }
}

.product-posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    .posts {
        border: 1px solid #e1e1e1;
        margin-bottom: 10px;
        -webkit-box-flex: 0;
            -ms-flex: 0 1 23%;
                flex: 0 1 23%;
        max-width: 23%;
        height: 300px;
        overflow: hidden;
        .thumbnail-wrapper {
            height: 250px;
            background-color: #e1e1e1;
            img {
                max-height: 250px;
                max-width: none;
                width: auto;
                -webkit-transform: translate(-10%, 0%);
                        transform: translate(-10%, 0%);
            }
        }
        .title {
            text-align: center;
            padding-top: 10px;
        }
    }
}