.single-products {
    .site-content {
        margin: 0 10px 0 10px;
    }
    .entry-header {
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 100px;
        width: 1120px;
    }
    .single-product-image {
        width: 50%;
        img {
            min-width: 640px;
        }
    }
    h1 {
        font-family: $font__accent;
        margin: 0;
        color: #d99054;
        text-transform: uppercase;
    }
    .single-product-page {
        margin-left: 110px;
        display: flex;
        width: 50%;
        flex-direction: column;
    }
    .product_price {
        font-size: 25px;
        margin: 10px 0 30px 0;
    }
    .entry-content {
        margin: 0;
        line-height: 25px;
    }
    .social-media {
        font-family: $font__accent;
        color: black;
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid black;
        padding: 10px 25px 10px 25px;
    }
    .social-media:hover {
        background-color: $color__green;
        color: white;
        border: 1px solid #248A83;
    }
}