#secondary {
    border-left: 1px solid #d3d3d3;
    margin: 0 auto;
    width: 30%;
    padding-left: 50px;
    ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style-type: none;
        text-decoration: none;
    }
    h2 {
        letter-spacing: 2px;
        font-family: $font__accent;
        margin: 0px;
    }
    .widget {
        p {
            margin: 20px 0;
        }
        span {
            font-weight: bold;
        }
    }
    .textwidget {
        p {
            color: $color__green;
            i {
                color: $font__color;
                margin-right: 8px;
            }
        }
        .address {
            color: $font__color;
        }
    }
    h2 {
        text-transform: uppercase;
        color: $color__purple;
    }
}

.widget {
    li {
        a {
            text-decoration: none;
        }
    }
}