// Structure

$base__space-unit: 1.5rem;
$base__line-hight: 1.75rem;
$width: 1120px;

// Colors
$color__background-body: #ffffff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: #248A83;
$color__link-visited: #248A83;
$color__link-hover: #2f1339;
$color__text-hover: #f0e4d1;
$color__bt-hover: #19625d;

$color__green: #248A83;
$color__purple: #2f1339;
$color__orange: #d99054;
$color__yellow: #f0e4d1;
$color__lightgrey: #a1a1a1;
$color__mediumgrey: #808080;

$color__border: #e1e1e1;
$color__dashedborder: #c8c8c8;
$color__comment-bg: #f4f4f4;

// Typography

$font__main: "merriweather", serif;
$font__code: "merriweather";
$font__accent: "novecentosanswide", sans-serif ;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
$font__size: 16px;
$font__color: #404040;


